link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet')
.deltas
  ul.deltas-items
    each item in items
      li.deltas-item
        include ./templates/product-item.jade
      // /item
// /deltas
