<html>
  <head>
    <title>404 | ContentCarousel</title>
    <% include head %>
  </head>
  <body>
    <% include bar %>
    <div class="container">
      ::before
      <div class="page-header" id="banner">
        <div class="row">
          <h1>404</h1>
          <p>Something is missing. Which is bad.</p>
        </div>
      </div>
    </div>
  </body>
</html>