.container
  .row-fluid
    .span12.top
      !{ about }
      hr
      .about-footer
        h4 Tutorials:
        a(href="introduction-to-deltas") Introduction to Deltas 
        | | 
        a(href="streaming-your-blog") Streaming your Blog 
        | | 
        a(href="sharing-interesting-links") Sharing Interesting Links 
        h4 References:
        a(href="integration-parameters") Integration Parameters
