// Carousel
// ==================================================
.container
  .row-fluid
    .span12.top
      .bg-image
        img(src='img/carousel_bk.png', alt='First slide')
        h1 Your Audience Wants to Hear from You
// /.container
// Marketing messaging and featurettes
// ==================================================
// Wrap the rest of the page in another container to center all the content.
.container.marketing
  // START THE FEATURETTES
  .row.featurette
    .col-md-7
      h2.featurette-heading
        | What should you say? 
        span.text-muted Finding and sharing content with your audience is a full time job.
      p.lead
        | Deltas are your personal assistants. They can surface good content, recycle old blog posts, and even monetize your site. They&apos;re easy to configure, and you retain all editorial control.
    .col-md-5
      img.featurette-image.img-responsive(src='img/news.png', alt='News')
  hr.featurette-divider
  .row.featurette
    .col-md-5
      img.featurette-image.img-responsive(data-src='holder.js/500x500/auto', alt='Generic placeholder image')
    .col-md-7
      h2.featurette-heading
        | How does it work? 
        span.text-muted The best way to explain it is with the metaphor of a river.
      p.lead
        | Deltas.io can be configured using sources, deltas, forks, and streams. It&apos;s really quite simple:
  hr.featurette-divider
  // /END THE FEATURETTES

  // Three columns of text below the carousel
  .row
    .col-lg-3
      img.img-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', style='width: 140px; height: 140px;')
      h2 Source
      p
        | Sources are torrents of raw content. They can come from anywhere. You can add your own blog articles, connect RSS feeds, or even use the built-in discovery engine. Deltas.io processes thousands upon thousands of articles per minute.
      p
        a.btn.btn-default(href='#', role='button') Read More &raquo;
    // /.col-lg-3
    .col-lg-3
      img.img-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', style='width: 140px; height: 140px;')
      h2 Delta
      p
        | Deltas are rules you configure about how much content to let through. They can decide if your next tweet should be a quotation, a link to your own blog article, or 
      p
        a.btn.btn-default(href='#', role='button') Read More &raquo;
    // /.col-lg-3
    .col-lg-3
      img.img-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', style='width: 140px; height: 140px;')
      h2 Fork
      p
        | Forks modify the content from the original. They can shorten URLs, track statistics, buffer your social media posts, and even use machine learning to improve the quality of your stream.
      p
        a.btn.btn-default(href='#', role='button') Read More &raquo;
    // /.col-lg-3
    .col-lg-3
      img.img-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', style='width: 140px; height: 140px;')
      h2 Stream
      p
        | After all this, you can also manually approve content before it appears in your stream. Once it&apos;s in your stream, it can be sent to a mailing list, posted to social media, placed in widgets in your Wordpress blog, and otherwise shared in every way you can imagine.
      p
        a.btn.btn-default(href='#', role='button') Read More &raquo;
    // /.col-lg-3
  // /.row
  hr.featurette-divider
  .row.featurette
    .col-md-5
      img.featurette-image.img-responsive(data-src='holder.js/500x500/auto', alt='Generic placeholder image')
    .col-md-7
      h2.featurette-heading
        | How does it work? 
        span.text-muted The best way to explain it is with the metaphor of a river.
      p.lead
        | Deltas.io can be configured using sources, deltas, forks, and streams. It&apos;s really quite simple:
  hr.featurette-divider
  // /END THE FEATURETTES
  // FOOTER
  footer
    p.pull-right
      a(href='#') Back to top
    p
      | &copy; 2015 inZania LLC &middot; 
      a(href='about') About
      |  &middot; 
      a(href='contact') Contact
// /.container