<html>
  <head>
    <title>ContentCarousel</title>
    <% include head %>
  </head>
  <body>
    <% include bar %>
    <div class="container">
      ::before
      <div class="page-header" id="banner">
        <div class="row">
          <h1>Welcome</h1>
          <p>Stuff goes here</p>
        </div>
      </div>
    </div>
  </body>
</html>
