.container
  .row-fluid
    .span12.top
      link(href="#{root}/dist/css/styles/default.css",rel="stylesheet")
      .deltas(data-stream="#{stream_name}",data-template="product")
      script(src="#{root}/dist/js/deltas.io.js")
    // ./span