h1 Integration Parameters
hr
  p These are query parameters you can attach to the end of any stream request:
  ul
    li
      b limit
      | : the maximum number of items to return
      b paragraphs
      | : the maximum number of paragraphs of text for each item
      b thumnail
      | : the width of a thumnail to include at the top of each item
      b noframes
      | : strip out any iframes 
