h1 Integration Parameters
hr
p These are query parameters you can attach to the end of any stream request. Note that there are three ways to use the stream (HTML, RSS and JSON), and some params are specific to one format or another.
h2 All Formats:
ul
  li
    b limit
    span : the maximum number of items to return
  li
    b paragraphs
    span : the maximum number of paragraphs of text for each item
h2 HTML-Format Only
ul
  li
    b template
    span : The name of the HTML template to use
h2 RSS-Format Only
ul
  li
    b thumnail
    span : the width of a thumnail to include at the top of each item (for RSS feeds only)
  li
    b noframes
    span : strip out any iframes 
