h1 What Can Deltas.io Do?
hr
.row
  .col-md-5.pull-right
    .deltas(data-stream="deltas-about-recycler")
      p Loading...
    script(src="https://www.deltas.io/dist/js/deltas.io.js")
  h2 Smart Recycling of Articles and Ads
  p Let&apos;s start with a really simple example of a Stream. You can embed a stream in all sorts of different places. The most basic example is a "content recycler" stream.

  p Many websites want to show similar content at the end of a page or blog post (to "recycle" other posts from the site in order to increase engagement), or to show affiliate links (to monetize the page). The problem is: how do you know which articles, products, or other links are best to show on each page? Deltas.io takes care of this for you. When you embed stream from Deltas.io, it automatically chooses the best content to show. So if you create a stream and add a few pieces of content to it (blog posts), and then embed that stream in your blog, it will learn about what users like and choose to show that content.

  p Need to see it in action?
  p The link on the right, to the next post, is actually a deltas.io stream embedded right in this page!
  hr
  h2 How to Set This Up
  p You're going to be introduced to Streams, Deltas, and Sources. Think of it this way: a Source is full of content (links). A Delta chooses what content from the Source to show in the Stream.
  ul
    li First, you'll need to have a stream. When you're logged in, you can access your streams from the account button in the top right. Then you can create a new stream. I called mine "Deltas About Recycler".
    li Next, you'll add a Delta to the stream. A delta automatically adds content into the stream. Deltas can have one or more sources. In this example, I just added a delta called "Recycler".
    li Now add a Source to the Delta; I named it "My Blog Posts". You don't need any Query. When you press the Add a Source button, choose "Static" content.
    li Add your blog posts, advertisements, or whatever content you want to the source.
  p You can now use the "Preview" tab to see your stream. You may need to wait up to 15 minutes before content actually appears in the stream.
  hr
  h2 Embedding your Stream
  p Finally! It's time to actually put your stream into your website. Open the "Integration" tab and follow the instructions to "Embed this Stream". That's it!
  p Now that you know the basics, it's time to see the REAL power of Deltas.io. 
    a(href="streaming-your-blog") Keep reading
    | ...